$footer-height: 96px;
$bg-color: #202124;
$fc-grey: #9aa0a6;
$fc-light-grey: #bdc1c6;
$bg-footer: hwb(0 9% 91%);
$white-100: #fff;
$white-90: rgba(243, 239, 239, 0.9);
$border-color: #5f6368;
$border-color-2: #3c4043;
$grey-1: #303134;
$grey-2: #e8eaed14;
$grey-3: #202124;
$blue-1: #4a86e6;
$blue-2: #8ab4f8;
$transition-1: 100ms ease;

/*--- RESET STYLING ---*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Arial, sans-serif;
}

body {
	position: relative;
	max-width: 100vw;
	min-height: 100vh;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: $bg-color;
}

ol,
ul {
	list-style: none;
}

input,
select {
	border: 1px solid $border-color;
	border-radius: unset;
	color: $white-90;
	background-color: transparent;
	height: 30px;
	padding: 4px 8px;
	transition: $transition-1;

	&:focus-visible {
		outline: unset;
	}

	option {
		background-color: $bg-color;
	}
}

a {
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: #8ab4f8;
	transition: $transition-1;

	&:hover {
		text-decoration: underline;
	}
}

p,
label {
	color: $white-90;
	font-size: 14px;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	color: $white-90;
}

img {
	object-fit: contain;
}

button,
select,
.icon {
	cursor: pointer;
	user-select: none;
	transition: $transition-1;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-align-center {
	display: flex;
	align-items: center;
	gap: 16px;
}


/*--- HEADER ---*/

.navbar {
	@include flex-align-center();
	height: 60px;
	padding: 0 24px;

	.nav-menu {
		@include flex-align-center();
		margin-left: auto;

		.nav-item {
			color: $white-90;
			font-size: 13px;
			font-weight: 500;
		}

		.menu,
		.profile {
			@include flex-center();
			width: 32px;
			height: 32px;
			border-radius: 50%;
			transition: $transition-1;

			&:hover {
				background-color: $grey-2;
			}
		}

		.profile {
			background-color: $white-90;
		}
	}
}

/*--- MAIN ---*/

.main-container {
	padding-bottom: $footer-height;
	margin-top: 12px;
	@include flex-center();
	flex-direction: column;

	.logo {
		position: relative;

		a {
			position: absolute;
			bottom: 5px;
			right: 5px;
			font-size: 16px;
			color: $blue-1;
			text-decoration: none;
			cursor: text;
		}
	}

	.search-form {
		@include flex-center();
		flex-direction: column;
		margin-top: 20px;

		.search-input {
			@include flex-center();
			border: 1px solid $border-color;
			border-radius: 24px;
			width: 582px;
			max-width: 582px;
			height: 46px;
			padding: 0 14px;
			gap: 16px;

			input {
				display: flex;
				flex: 1;
				background-color: transparent;
				border: transparent;
				height: 100%;
				font-size: 16px;
			}

			.search-btn {
				@include flex-align-center();
				background-color: unset;
				border: unset;
			}

			&:focus-within,
			&:hover {
				border: 1px solid transparent;
				background-color: $grey-2;
			}

		}

		.buttons {
			@include flex-center();
			gap: 12px;
			margin-top: 32px;

			.button {
				border: 1px solid transparent;
				border-radius: 4px;
				background-color: $grey-1;
				color: $white-90;
				padding: 0 16px;
				min-width: 54px;
				height: 36px;
				font-size: 14px;
				font-weight: 400;
				cursor: pointer;

				&:hover {
					border: 1px solid $border-color;
				}
			}
		}
	}

	.lang {
		@include flex-align-center();
		margin-top: 28px;

		p {
			font-size: 13px;
		}

		a {
			font-size: 13px;
		}
	}
}

/*--- FOOTER ---*/

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	max-height: $footer-height;
	background-color: $bg-footer;

	.location {
		@include flex-align-center();
		height: 48px;
		border-bottom: 1px solid $border-color-2;
		padding: 0 32px;

		p {
			color: $fc-grey;
		}
	}

	.footer-menu {
		@include flex-align-center();
		height: 48px;
		padding: 0 32px;

		.left {
			@include flex-align-center();
			gap: 28px;
		}

		.right {
			@include flex-align-center();
			@include flex-align-center();
			margin-left: auto;
			gap: 28px;
		}

		a {
			color: $fc-grey;
		}
	}
}

/*--- ADVANCED ---*/

.main-advanced-container {
	padding-bottom: $footer-height;

	.main-title-wrapper {
		border-bottom: 1px solid $border-color;

		.main-title-page {
			font-size: 20px;
			font-weight: 400;
			color: #f28b82;
			margin: 25px 45px 22px;
		}
	}

	.row {
		display: grid;
		gap: 16px;
		margin: 29px 2% 0 45px;

		.title-form-wrapper {
			display: grid;
			grid-template-columns: 1.4fr 1fr;
			align-items: center;
			margin: 14px 0;

			.title-form {
				font-size: 16px;
				font-weight: 500;
			}

			.sub-title-form {
				font-weight: 600;
			}
		}

		.column {
			border-bottom: 1px solid $border-color-2;

			:nth-child(1) {
				margin-bottom: 14px;
			}

			.form-group {
				display: grid;
				align-items: center;
				grid-template-columns: 170px 1fr 1fr;
				gap: 16px;
				margin-bottom: 16px;

				label,
				p {
					color: $fc-light-grey;
				}

				strong {
					font-family: monospace;
					color: $white-90;
					font-weight: 400;
				}

				input,
				select {
					border: 1px solid $border-color-2;
				}

				.col-2 {
					@include flex-align-center();
					gap: 14px;
					input {
						margin: unset;
						flex-grow: 1;
					}
				}

				.btn-submit {
					font-size: 11px;
					font-weight: bold;
					color: $white-90;
					background-color: $blue-1;
					border: $blue-1;
					border-radius: 2px;
					grid-column-start: 2;
					min-width: 54px;
					padding: 8px 12px;
					margin-left: auto;
					margin-top: 14px;
					&:hover {
						background-color: $blue-2;
					}
				}
			}
		}
	}

	.external-links {
		margin: 24px 0 32px 45px;
		width: max-content;
		p {
			font-size: 16px;
			color: $white-90;
		}

		.links {
			margin-top: 14px;
			display: flex;
			flex-direction: column;
		}
	}
}