/*--- RESET STYLING ---*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

body {
  position: relative;
  max-width: 100vw;
  height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #202124;
}

ol,
ul {
  list-style: none;
}

input {
  border: unset;
  border-radius: 0;
  color: rgba(243, 239, 239, 0.9);
}
input:focus-visible {
  outline: unset;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #4487f6;
}
a:hover {
  text-decoration: underline;
}

p {
  color: rgba(243, 239, 239, 0.9);
  font-size: 14px;
  font-weight: 400;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button,
.icon {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*--- HEADER ---*/
.navbar {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 60px;
  padding: 0 24px;
}
.navbar .nav-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}
.navbar .nav-menu .nav-item {
  color: rgba(243, 239, 239, 0.9);
}
.navbar .nav-menu .menu,
.navbar .nav-menu .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.navbar .nav-menu .menu:hover,
.navbar .nav-menu .profile:hover {
  background-color: rgba(232, 234, 237, 0.08);
}
.navbar .nav-menu .profile {
  background-color: rgb(95, 99, 104);
}

/*--- MAIN ---*/
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-container .logo {
  position: relative;
}
.main-container .logo a {
  position: absolute;
  bottom: 5px;
  right: 11px;
}
.main-container .search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.main-container .search-form .search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 24px;
  width: 582px;
  max-width: 582px;
  height: 46px;
  padding: 0 14px;
  gap: 16px;
}
.main-container .search-form .search-input input {
  display: flex;
  flex: 1;
  background-color: transparent;
  height: 100%;
  font-size: 16px;
}
.main-container .search-form .search-input input:focus-visible {
  border-right: 1px solid rgb(95, 99, 104);
  background-color: #303134;
}
.main-container .search-form .search-input:focus-within, .main-container .search-form .search-input:hover {
  border: 1px solid transparent;
  background-color: #303134;
}
.main-container .search-form .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}
.main-container .search-form .buttons .button {
  border: 1px solid #303134;
  border-radius: 4px;
  background-color: #303134;
  color: rgba(243, 239, 239, 0.9);
  padding: 0 16px;
  min-width: 54px;
  height: 36px;
  font-size: 14px;
  font-weight: 400;
}
.main-container .search-form .buttons .button:hover {
  border: 1px solid rgb(95, 99, 104);
}
.main-container .lang {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 28px;
}
.main-container .lang p {
  font-size: 13px;
}
.main-container .lang a {
  font-size: 13px;
}

/*--- FOOTER ---*/
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #171717;
}
#footer .location {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
  border-bottom: 1px solid #3c4043;
  padding: 0 32px;
}
#footer .location p {
  color: #9aa0a6;
}
#footer .footer-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
  padding: 0 32px;
}
#footer .footer-menu .left {
  display: flex;
  align-items: center;
  gap: 16px;
  gap: 28px;
}
#footer .footer-menu .right {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  gap: 28px;
}
#footer .footer-menu a {
  color: #9aa0a6;
}/*# sourceMappingURL=style.css.map */